<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377007798374-0p3954tjg8gct7gpsoklqu8ih94gotdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377007798374-0p3954tjg8gct7gpsoklqu8ih94gotdj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377007798374-5kllqrokb99b01mp61vtafa3mtsldpac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqy_aZnvcHYqOxes-ZsylOWnCWalBTYS0</string>
	<key>GCM_SENDER_ID</key>
	<string>377007798374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.h3devs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cityloads-301009</string>
	<key>STORAGE_BUCKET</key>
	<string>cityloads-301009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377007798374:ios:481aac3fb67ab7ef1095a7</string>
</dict>
</plist>